#aparna{
    color: blue;
}
.aparna{
    color: green;
}
p{
    color: red;
}
p{
    background-image: url("./test.png");
    height:300px;
    width:100%;
    font-size:21px;
}
body{
  height: 100vh;
}